$componentInfo: (
             name: "@visual-framework/vf-blockquote",
             version: "1.0.0-beta.7",
             location: "components/vf-core-",
             vfCoreVersion: "2.0.0-beta.3"
          );