<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">


<title>Visual Framework Headings | Visual Framework component library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Visual Framework component library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-ed7e8d4a5e79e4460e4bb73f75aec37e">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/vf-heading.html" title="Component preview">
            Visual Framework Headings
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #E89300; border-color: #E89300;">beta</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-ed7e8d4a5e79e4460e4bb73f75aec37e">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/vf-heading.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">h1</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-xl vf-text--invert"</span>&gt;</span>This heading size is display and inverted<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-xl"</span>&gt;</span>This heading size is extra large<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-l"</span>&gt;</span>This heading size is large<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">h4</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-r"</span>&gt;</span>This heading size is regular<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-s"</span>&gt;</span>This heading size is small<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-view">
    <code class="Code Code--lang-text">
        <pre><span class="xml"></span><span class="hljs-comment">{#
  Pass in your display type and title:
  {% render '<a href="">@vf-heading</a>', {"type": "large", "title": "large"} %}
#}</span><span class="xml">

</span><span class="hljs-comment">{#
  Set our data for the template
#}</span><span class="xml">

</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">if</span></span> type and title %}</span><span class="xml">
  </span><span class="hljs-template-tag">{% <span class="hljs-name">set</span> vf_heading_modifiers = [{ "type": type, "title" : title}] %}</span><span class="xml">
</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">endif</span></span> %}</span><span class="xml">

</span><span class="hljs-comment">{#
  Template
  If type &amp;&amp; title are not passed it will use default modifiers in the component YAML
#}</span><span class="xml">

</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">for</span></span> modifier <span class="hljs-keyword">in</span> vf_heading_modifiers %}</span><span class="xml">
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">if</span></span> modifier.type == "display" -%}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h1</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-xl vf-text--invert"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">elif</span></span> modifier.type == "extra-large" -%}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-xl"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">elif</span></span> modifier.type == "large" -%}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h3</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-l"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">elif</span></span> modifier.type == "regular" -%}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h4</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-r"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">elif</span></span> modifier.type == "small" -%}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-s"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">else</span></span> -%}</span><span class="xml">
    </span><span class="hljs-comment">{# catch all for if the heading type doesn't match #}</span><span class="xml">
    <span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-text vf-text--heading-s"</span>&gt;</span></span><span class="hljs-template-variable">{{modifier.title}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
  </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">endif</span></span> %}</span><span class="xml">
</span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-name">endfor</span></span> %}</span><span class="xml"></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"component-type"</span>: <span class="hljs-string">"element"</span>,
  <span class="hljs-attr">"vf_heading_modifiers"</span>: [
    {
      <span class="hljs-attr">"type"</span>: <span class="hljs-string">"display"</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"This heading size is display and inverted"</span>
    },
    {
      <span class="hljs-attr">"type"</span>: <span class="hljs-string">"extra-large"</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"This heading size is extra large"</span>
    },
    {
      <span class="hljs-attr">"type"</span>: <span class="hljs-string">"large"</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"This heading size is large"</span>
    },
    {
      <span class="hljs-attr">"type"</span>: <span class="hljs-string">"regular"</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"This heading size is regular"</span>
    },
    {
      <span class="hljs-attr">"type"</span>: <span class="hljs-string">"small"</span>,
      <span class="hljs-attr">"title"</span>: <span class="hljs-string">"This heading size is small"</span>
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-c171757d35ee804074cd26e88f57ae7e">CHANGELOG.md</option>
                
                <option value="file-b54530efb9db7ac0dca2ee6252ad9bd5">index.scss</option>
                
                <option value="file-e4cfb9d61875812d2881d0da07e45b16">package.json</option>
                
                <option value="file-1e1ed5624685ab81288817929537c16d">vf-heading.css</option>
                
                <option value="file-85e743d088f126913e1cf0b2758b9158">vf-heading.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-c171757d35ee804074cd26e88f57ae7e" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-Markdown FileBrowser-code">
                                <pre><span class="hljs-section"># Change Log</span>

All notable changes to this project will be documented in this file.
See [<span class="hljs-string">Conventional Commits</span>](<span class="hljs-link">https://conventionalcommits.org</span>) for commit guidelines.

<span class="hljs-section">## 0.0.28 (2019-03-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-heading





<span class="hljs-section">## 0.0.27 (2019-02-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-heading





<span class="hljs-section">## 0.0.26 (2019-02-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-heading
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-heading/CHANGELOG.md"><span>/components/raw/vf-heading/CHANGELOG.md</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-heading/CHANGELOG.md</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">456 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-b54530efb9db7ac0dca2ee6252ad9bd5" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// setup files required</span>

<span class="hljs-comment">// sass-lint:disable clean-import-paths</span>
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-global-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-functions'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-mixins'</span>;

<span class="hljs-comment">// component specific styles</span>

@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-heading.scss'</span>;
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-heading/index.scss"><span>/components/raw/vf-heading/index.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-heading/index.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">223 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-e4cfb9d61875812d2881d0da07e45b16" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JSON FileBrowser-code">
                                <pre>{
  <span class="hljs-attr">"version"</span>: <span class="hljs-string">"0.0.28"</span>,
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"@visual-framework/vf-heading"</span>,
  <span class="hljs-attr">"description"</span>: <span class="hljs-string">"vf-heading component"</span>,
  <span class="hljs-attr">"homepage"</span>: <span class="hljs-string">"https://visual-framework.github.io/vf-core/"</span>,
  <span class="hljs-attr">"author"</span>: <span class="hljs-string">"VF"</span>,
  <span class="hljs-attr">"license"</span>: <span class="hljs-string">"Apache 2.0"</span>,
  <span class="hljs-attr">"style"</span>: <span class="hljs-string">"vf-heading.css"</span>,
  <span class="hljs-attr">"sass"</span>: <span class="hljs-string">"index.scss"</span>,
  <span class="hljs-attr">"files"</span>: [
    <span class="hljs-string">"index.scss"</span>,
    <span class="hljs-string">"vf-heading.scss"</span>,
    <span class="hljs-string">"vf-heading.css"</span>,
    <span class="hljs-string">"vf-heading.njk"</span>,
    <span class="hljs-string">"vf-heading.config.yml"</span>
  ],
  <span class="hljs-attr">"test"</span>: <span class="hljs-string">"echo \"Error: no test specified\" &amp;&amp; exit 1"</span>,
  <span class="hljs-attr">"publishConfig"</span>: {
    <span class="hljs-attr">"access"</span>: <span class="hljs-string">"public"</span>
  },
  <span class="hljs-attr">"repo"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/tree/master/components/elements/vf-heading"</span>,
  <span class="hljs-attr">"bugs"</span>: {
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/issues/new"</span>
  },
  <span class="hljs-attr">"dependencies"</span>: {
    <span class="hljs-attr">"@visual-framework/vf-sass-config"</span>: <span class="hljs-string">"^0.0.25"</span>,
    <span class="hljs-attr">"node-normalize-scss"</span>: <span class="hljs-string">"^8.0.0"</span>
  },
  <span class="hljs-attr">"keywords"</span>: [
    <span class="hljs-string">"fractal"</span>,
    <span class="hljs-string">"component"</span>
  ],
  <span class="hljs-attr">"gitHead"</span>: <span class="hljs-string">"7d11e6ad9d9bfc895f35bef681a48c7553713213"</span>
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-heading/package.json"><span>/components/raw/vf-heading/package.json</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-heading/package.json</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">911 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-1e1ed5624685ab81288817929537c16d" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code">
                                <pre><span class="hljs-selector-pseudo">:root</span> {
  <span class="hljs-attribute">--vf-color-white</span>: <span class="hljs-built_in">rgb</span>(255, 255, 255);
  <span class="hljs-attribute">--vf-color-off-white</span>: <span class="hljs-built_in">rgb</span>(250, 250, 250);
  <span class="hljs-attribute">--vf-color-black</span>: <span class="hljs-built_in">rgb</span>(40, 45, 35);
  <span class="hljs-attribute">--vf-color-gray</span>: <span class="hljs-built_in">rgb</span>(112, 115, 114);
  <span class="hljs-attribute">--vf-color-gray-bright</span>: <span class="hljs-built_in">rgb</span>(185, 179, 168);
  <span class="hljs-attribute">--vf-color-gray-dark</span>: <span class="hljs-built_in">rgb</span>(84, 88, 90);
  <span class="hljs-attribute">--vf-color-green</span>: <span class="hljs-built_in">rgb</span>(0, 159, 77);
  <span class="hljs-attribute">--vf-color-green-bright</span>: <span class="hljs-built_in">rgb</span>(108, 194, 74);
  <span class="hljs-attribute">--vf-color-green-dark</span>: <span class="hljs-built_in">rgb</span>(0, 123, 83);
  <span class="hljs-attribute">--vf-color-light-green</span>: <span class="hljs-built_in">rgb</span>(168, 199, 0);
  <span class="hljs-attribute">--vf-color-light-green-bright</span>: <span class="hljs-built_in">rgb</span>(226, 232, 104);
  <span class="hljs-attribute">--vf-color-light-green-dark</span>: <span class="hljs-built_in">rgb</span>(132, 189, 0);
  <span class="hljs-attribute">--vf-color-ruby</span>: <span class="hljs-built_in">rgb</span>(228, 0, 70);
  <span class="hljs-attribute">--vf-color-ruby-bright</span>: <span class="hljs-built_in">rgb</span>(229, 143, 158);
  <span class="hljs-attribute">--vf-color-ruby-dark</span>: <span class="hljs-built_in">rgb</span>(166, 9, 61);
  <span class="hljs-attribute">--vf-color-yellow</span>: <span class="hljs-built_in">rgb</span>(255, 205, 0);
  <span class="hljs-attribute">--vf-color-yellow-bright</span>: <span class="hljs-built_in">rgb</span>(253, 215, 87);
  <span class="hljs-attribute">--vf-color-yellow-dark</span>: <span class="hljs-built_in">rgb</span>(255, 184, 28);
  <span class="hljs-attribute">--vf-color-purple</span>: <span class="hljs-built_in">rgb</span>(130, 70, 175);
  <span class="hljs-attribute">--vf-color-purple-bright</span>: <span class="hljs-built_in">rgb</span>(203, 163, 216);
  <span class="hljs-attribute">--vf-color-purple-dark</span>: <span class="hljs-built_in">rgb</span>(86, 61, 130);
  <span class="hljs-attribute">--vf-color-amber</span>: <span class="hljs-built_in">rgb</span>(255, 163, 0);
  <span class="hljs-attribute">--vf-color-amber-bright</span>: <span class="hljs-built_in">rgb</span>(190, 84, 0);
  <span class="hljs-attribute">--vf-color-amber-dark</span>: <span class="hljs-built_in">rgb</span>(239, 192, 110);
  <span class="hljs-attribute">--vf-color-azure</span>: <span class="hljs-built_in">rgb</span>(40, 122, 226);
  <span class="hljs-attribute">--vf-color-azure-bright</span>: <span class="hljs-built_in">rgb</span>(139, 184, 232);
  <span class="hljs-attribute">--vf-color-azure-dark</span>: <span class="hljs-built_in">rgb</span>(0, 61, 165);
}

<span class="hljs-selector-pseudo">:root</span> {
  <span class="hljs-attribute">--vf-ui-color-black</span>: <span class="hljs-built_in">rgb</span>(0, 0, 0);
  <span class="hljs-attribute">--vf-ui-color-gray</span>: <span class="hljs-built_in">rgb</span>(243, 243, 243);
  <span class="hljs-attribute">--vf-ui-color-gray-light</span>: <span class="hljs-built_in">rgb</span>(216, 216, 216);
  <span class="hljs-attribute">--vf-ui-color-yellow</span>: <span class="hljs-built_in">rgb</span>(255, 250, 220);
  <span class="hljs-attribute">--vf-ui-color-red</span>: <span class="hljs-built_in">rgb</span>(211, 47, 47);
}

<span class="hljs-selector-class">.vf-text</span> {
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--heading-s</span> {
  <span class="hljs-attribute">font-family</span>: <span class="hljs-string">"IBM Plex Sans"</span>, Helvetica, Arial, sans-serif;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">19px</span>;
  <span class="hljs-attribute">font-weight</span>: <span class="hljs-number">500</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.5</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-built_in">var</span>(--vf-text-margin--bottom, 16px) <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--heading-r</span> {
  <span class="hljs-attribute">font-family</span>: <span class="hljs-string">"IBM Plex Sans"</span>, Helvetica, Arial, sans-serif;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">21px</span>;
  <span class="hljs-attribute">font-weight</span>: <span class="hljs-number">500</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.29</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-built_in">var</span>(--vf-text-margin--bottom, 16px) <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--heading-alt</span> {
  <span class="hljs-attribute">font-family</span>: <span class="hljs-string">"IBM Plex Sans"</span>, Helvetica, Arial, sans-serif;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">24px</span>;
  <span class="hljs-attribute">font-weight</span>: <span class="hljs-number">500</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.333</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-built_in">var</span>(--vf-text-margin--bottom, 16px) <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--heading-l</span> {
  <span class="hljs-attribute">font-family</span>: <span class="hljs-string">"IBM Plex Sans"</span>, Helvetica, Arial, sans-serif;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">24px</span>;
  <span class="hljs-attribute">font-weight</span>: <span class="hljs-number">500</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.333</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-built_in">var</span>(--vf-text-margin--bottom, 16px) <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--heading-xl</span> {
  <span class="hljs-attribute">font-family</span>: <span class="hljs-string">"IBM Plex Sans"</span>, Helvetica, Arial, sans-serif;
  <span class="hljs-attribute">font-size</span>: <span class="hljs-number">42px</span>;
  <span class="hljs-attribute">font-weight</span>: <span class="hljs-number">700</span>;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">1.547</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-number">16px</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-built_in">var</span>(--vf-text-margin--bottom, 16px) <span class="hljs-number">0</span>;
}

<span class="hljs-selector-class">.vf-text--has-tag</span> {
  <span class="hljs-attribute">-webkit-box-align</span>: center;
      <span class="hljs-attribute">-ms-flex-align</span>: center;
          <span class="hljs-attribute">align-items</span>: center;
  <span class="hljs-attribute">display</span>: -webkit-box;
  <span class="hljs-attribute">display</span>: -ms-flexbox;
  <span class="hljs-attribute">display</span>: flex;
}

<span class="hljs-selector-class">.vf-text--has-tag</span> <span class="hljs-selector-class">.vf-badge</span> {
  <span class="hljs-attribute">margin-left</span>: <span class="hljs-number">8px</span>;
}

<span class="hljs-selector-class">.vf-text--invert</span> {
  <span class="hljs-attribute">background-color</span>: <span class="hljs-number">#282d23</span>;
  <span class="hljs-attribute">color</span>: white;
  <span class="hljs-attribute">display</span>: inline-block;
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">4px</span> <span class="hljs-number">8px</span> <span class="hljs-number">4px</span> <span class="hljs-number">4px</span>;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-heading/vf-heading.css"><span>/components/raw/vf-heading/vf-heading.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-heading/vf-heading.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">2.9 KB</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-85e743d088f126913e1cf0b2758b9158" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.vf-text</span> {
  @<span class="hljs-keyword">include</span> margin--block(bottom, 16px);
}

<span class="hljs-selector-class">.vf-text--heading-s</span> {
  @<span class="hljs-keyword">include</span> set-type(heading--s);
}
<span class="hljs-selector-class">.vf-text--heading-r</span> {
  @<span class="hljs-keyword">include</span> set-type(heading--r);
}
<span class="hljs-selector-class">.vf-text--heading-alt</span> {
  @<span class="hljs-keyword">include</span> set-type(heading--l-alt);
}
<span class="hljs-selector-class">.vf-text--heading-l</span> {
  @<span class="hljs-keyword">include</span> set-type(heading--l);
}
<span class="hljs-selector-class">.vf-text--heading-xl</span> {
  @<span class="hljs-keyword">include</span> set-type(heading--xl);
}

<span class="hljs-selector-class">.vf-text--has-tag</span> {
  <span class="hljs-attribute">align-items</span>: center;
  <span class="hljs-attribute">display</span>: flex;

  <span class="hljs-selector-class">.vf-badge</span> {
    <span class="hljs-attribute">margin-left</span>: <span class="hljs-number">8px</span>;
  }
}

<span class="hljs-selector-class">.vf-text--invert</span> {
  <span class="hljs-attribute">background-color</span>: set-color(vf-color-black);
  <span class="hljs-attribute">color</span>: set-color(vf-color-white);
  <span class="hljs-attribute">display</span>: inline-block;
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">4px</span> <span class="hljs-number">8px</span> <span class="hljs-number">4px</span> <span class="hljs-number">4px</span>;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-heading/vf-heading.scss"><span>/components/raw/vf-heading/vf-heading.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-heading/vf-heading.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">609 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@vf-heading</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="vf-heading--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="vf-heading--template.html">
                    <span>Template</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/vf-heading.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/vf-heading.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/vf-components/vf-heading/vf-heading.njk</span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">References <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="">@<span>vf-heading</span></a>
            
            </span>
        </li class="Meta-item">
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="vf-heading--template.html">@<span>vf-heading--template</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-ed7e8d4a5e79e4460e4bb73f75aec37e-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-heading"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-heading.svg" alt="npm version"></a></p>
<h2 id="about">About</h2>
<h2 id="demo">Demo</h2>
  <h1 class="vf-text vf-text--heading-xl vf-text--invert">This heading size is display and inverted</h1>















  <h2 class="vf-text vf-text--heading-xl">This heading size is extra large</h2>















  <h3 class="vf-text vf-text--heading-l">This heading size is large</h3>















  <h4 class="vf-text vf-text--heading-r">This heading size is regular</h4>















  <h5 class="vf-text vf-text--heading-s">This heading size is small</h5>





<h2 id="installation-and-implementation">Installation and Implementation</h2>
<p>This component is distributed with npm. After <a href="https://www.npmjs.com/get-npm">installing npm</a>, you can install the <code>vf-heading</code> with this command.</p>
<code><pre>$ <span class="hljs-built_in">npm</span> install --save @visual-framework/vf-heading</pre></code><p>The source files included are written in <a href="http://sass-lang.com">Sass</a>(<code>scss</code>). You can point your Sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<code><pre>@<span class="hljs-keyword">import</span> <span class="hljs-string">"@visual-framework/vf-heading/index.scss"</span>;</pre></code><p><em>Make sure you import any requirements along with the modules.</em></p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-vf-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Vf Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-badge">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Badges</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--outline.html" data-pjax>
                <span>Outline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--sizes.html" data-pjax>
                <span>Sizes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--styles.html" data-pjax>
                <span>Styles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--variants.html" data-pjax>
                <span>Variants</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-banner">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Banner</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--fixed.html" data-pjax>
                <span>Fixed</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--top.html" data-pjax>
                <span>Top</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-divider.html" data-pjax>
                <span>Divider</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #19993B;" title="live"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-favicon.html" data-pjax>
                <span>Favicon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-global-header.html" data-pjax>
                <span>Global Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-list">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Lists</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--default.html" data-pjax>
                <span>Block</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--inline.html" data-pjax>
                <span>Inline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--ordered.html" data-pjax>
                <span>Ordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--unordered.html" data-pjax>
                <span>Unordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-logo">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Logo</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-navigation">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Navigation</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--additional.html" data-pjax>
                <span>Additional</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--global.html" data-pjax>
                <span>Global</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--main.html" data-pjax>
                <span>Main</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-no-js.html" data-pjax>
                <span>No JS</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-sample.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
