<div class="vf-body">
<div class="vf-grid">
  <div>
    <a href="https://github.com/visual-framework/vf-eleventy" class="vf-link">View vf-eleventy on GitHub</a> |
    <a href="https://github.com/visual-framework/vf-core" class="vf-link">VF-Core v2.0-alpha.4</a> |
    <a href="https://embl-vf.slack.com/messages" class="vf-link">Get help on Slack</a>
  </div>
</div>
</div>

<!-- This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }} -->
<script src="https://dev.assets.emblstatic.net/vf/develop/scripts/scripts.js"></script>
