$componentInfo: (
             name: "@visual-framework/embl-grid",
             version: "1.0.0-alpha.5",
             location: "components/vf-core-",
             vfCoreVersion: "2.0.0-alpha.8"
          );