/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
* Component: @visual-framework/embl-grid
* Version: 2.1.1
* Location: components/undefined
*/
.embl-grid {
  margin-bottom: 48px;
}
.embl-grid > :first-child {
  grid-column: 1/-1;
}
@media (min-width: 846px) {
  .embl-grid > :first-child {
    grid-column: span 1;
  }
}
@media (max-width: 845px) {
  .embl-grid > *:not(:first-child) {
    grid-column: 1/-1;
  }
}
@media (min-width: 600px) {
  .embl-grid {
    /* stylelint-disable declaration-colon-space-after */
    --embl-grid:
      var(--embl-grid-module--prime)
      [main-start]
      repeat(auto-fit, minmax(200px, 1fr))
      [main-end];
    display: grid;
    gap: var(--page-grid-gap);
    grid-template-columns: var(--vf-custom-grid-layout, var(--embl-grid));
  }
}

.embl-grid--has-centered-content > *:last-child {
  grid-column-start: 2;
}
@media (min-width: 1024px) {
  .embl-grid--has-centered-content {
    --embl-grid:
      var(--embl-grid-module--prime)
      auto
      var(--embl-grid-module--prime);
  }
  .embl-grid--has-centered-content > *:last-child {
    grid-column-start: unset;
  }
}

.embl-grid--has-sidebar {
  --embl-grid:
    var(--embl-grid-module--prime)
    [main-start]
    1fr
    [main-end]
    21em;
  /* stylelint-enable */
}
@media (min-width: 846px) and (max-width: 1023px) {
  .embl-grid--has-sidebar > *:first-child {
    grid-column: 1/2;
  }
  .embl-grid--has-sidebar > * {
    grid-column: 2/-1;
  }
}
@media (min-width: 1024px) and (max-width: 1299px) {
  .embl-grid--has-sidebar {
    --embl-grid:
      var(--embl-grid-module--prime)
      [main-start]
      1fr
      [main-end]
      18em;
  }
}

@media (min-width: 1024px) {
  .embl-grid-has-sidebar--hairline > *:last-child {
    position: relative;
  }
  .embl-grid-has-sidebar--hairline > *:last-child::before {
    background-color: #d8d8d8;
    content: "";
    height: 100%;
    left: calc(var(--page-grid-gap) / -2);
    position: absolute;
    width: 1px;
  }
}