$componentInfo: (
             name: "@visual-framework/vf-favicon",
             version: "1.0.0-beta.5",
             location: "components/vf-core-",
             vfCoreVersion: "2.0.0-alpha.8"
          );