/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-hero
 * Version: 3.1.0
 * Location: components/undefined
 */
/* stylelint-disable */
.vf-hero {
  background-color: #18974c;
  background-image: url("https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/roundels.png");
  background-image: var(--vf-hero--bg-image, url("https://acxngcvroo.cloudimg.io/v7/https://www.embl.org/files/wp-content/uploads/roundels.png"));
  margin-bottom: 2rem;
  margin-bottom: var(--vf-hero--spacing, 2rem);
  padding: 2rem 0;
  padding: var(--vf-hero--spacing, 2rem) 0;
}

.vf-hero.vf-u-fullbleed::before {
  background-size: cover;
  background-size: var(--vf-hero--bg-image-size, cover);
  z-index: 1;
}

.vf-hero__content {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1), -2px 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1), -2px 0 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
  max-width: 60ch;
  position: relative;
  z-index: 1984;
}

.vf-hero__kicker {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
  line-height: 1;
  position: relative;
}
.vf-hero__kicker a {
  color: currentColor;
}
.vf-hero__kicker a:hover {
  text-decoration-thickness: 2px !important;
}

.vf-hero__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 0 0;
  line-height: 1.25;
  word-break: break-word;
}

.vf-hero__heading_link {
  color: currentColor;
  text-decoration: none;
}
.vf-hero__heading_link:hover, .vf-hero__heading_link:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.vf-hero__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 0 0;
  --vf-stack-margin--custom: 0;
}

.vf-hero__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
}
.vf-hero__text a {
  border-bottom: none;
  color: #3b6fb6;
  text-decoration: none;
}
.vf-hero__text a:visited {
  color: #193f90;
}
.vf-hero__text a:focus,
.vf-hero__text a:hover {
  color: #193f90;
  text-decoration: underline;
  text-decoration-thickness: 2px !important;
}

.vf-hero__link {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: none;
  color: #3b6fb6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}
.vf-hero__link svg {
  fill: currentColor;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-left: 0.5rem;
}
.vf-hero__link:visited {
  color: #193f90;
}
.vf-hero__link:focus, .vf-hero__link:hover {
  color: #193f90;
  text-decoration: underline;
  text-decoration-thickness: 2px !important;
}
.vf-hero__link:focus svg, .vf-hero__link:hover svg {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.vf-hero--800 {
  --vf-hero--spacing: 2rem;
}
.vf-hero--800 > .vf-box {
  --vf-box-padding: calc(var(--vf-hero--spacing / 2));
}

.vf-hero--1200 {
  --vf-hero--spacing: 3rem;
}
.vf-hero--1200 > .vf-box {
  --vf-box-padding: calc(var(--vf-hero--spacing) / 2);
}

.vf-hero--1600 {
  --vf-hero--spacing: 4rem;
}
.vf-hero--1600 > .vf-box {
  --vf-box-padding: calc(var(--vf-hero--spacing) / 2);
}