

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Deprecating Components: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      ---
title: Deprecating components
order: 205
isIndex: false
---

Inevitably code will be replaced and improved, leaving components stale and or outdated. So we should tell developers to not use them, here's how.

Here's what we need to make sure we do:

1. Developers can avoid installing and outdated componetn;
1. Developers can know to stop using a componetn; and
1. Components aren't removed so existing sites continue to function.

## How to deprecate an entire component

1. In the `component-name.config.yml` file add:
    - `status: deprecated`
    - `component-type: deprecated`
    - `hidden: true`
1. In the `component-name.scss` file wrap the sass with:
    - `html:not(.vf-disable-deprecated) {`
1. Update `README.md` with:
    - why the component has been deprecated
    - what component(s) developers should instead use
    - Use this template: `<h2>This component has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="#"new</a> component.</h2> in the README.md file.`
1. Publish on NPM:
    - follow the guidelines to update the packages using Lerna(TODO). This would be a major release for the deprecated component, decide on other pattern version numbers as described in the documentation for publishing(TODO).
1. Remove the component from `vf-core`
1. Deprecate on npm:
    - `npm deprecate @visual-framework/component "no longer supported use the @visual-framework/component instead"`

## Need to deprecate just one variant of a component?

1. Add a note to the `--variant.njk`
    - Use this template: `<h2>This variant has been <span style="color: rgb(228, 0, 70);">deprecated</span>. Please use the <a class="vf-link" href="#"new</a> component.</h2> in the README.md file.`
1. Wrap the relevant Sass in `html:not(.vf-disable-deprecated) {`
1. Hide the variant tab in `.config.yml`:
```
variants:
  - name: deprecated-variant
    hidden: true
```

See also: [example `vf-deprecated` component](../detail/vf-deprecated.html)

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

