

<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
<script>
// Detect if JS is on and swap vf-no-js for vf-js on the html element
(function(H){H.className=H.className.replace(/\bvf-no-js\b/,'vf-js')})(document.documentElement);
</script>
  <title>Versioning: Default | Visual Framework 2.0</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

<link rel="apple-touch-icon" sizes="180x180" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/favicon-16x16.png">
<link rel="manifest" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/site.webmanifest">
<link rel="mask-icon" href="https://dev.assets.emblstatic.net/vf/assets/vf-favicon/assets/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css">
</head>
<body class="vf-body">
  <div class="vf-grid">
    <div class="vf-component__container">
      ---
title: Component versioning
---

[Looking for notes on versioning of vf-core](../../docs/changelog.html)?

The versioning of components is self-contained and distinct from the version number of `vf-core`

Example: if `vf-component`@`2.2.0` has a breaking change, it would be updated to
`vf-component`@`3.0.0`. That new version number does not affect compatibility with with `vf-core`@`2.x`.

Other notes and tips on components:

- should use a [semantic versioning](https://semver.org/) style of releases.
- must work with `vf-core v2.x`, but a component may specify a
minimum required minor version of vf-core.
- may indicate any required versions of peer-components in your component's README.md.
    - `vf-component-x`@`2.1.2` requires `vf-component-y`@`^8.1.0`
- can live as part of the `vf-core` [monorepo](https://gomonorepo.org/)
    - Interested in adding a component? [Get in touch](https://embl-vf.slack.com/messages)

    </div>
  </div>

  <script src="../../scripts/scripts.js"></script>
</body>
</html>

