/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

:root {
  --vf-color--neutral--0: #ffffff;
  --vf-color--neutral--100: #f3f3f3;
  --vf-color--neutral--200: #e4e4e4;
  --vf-color--neutral--300: #d0d0ce;
  --vf-color--neutral--400: #a9abaa;
  --vf-color--neutral--500: #8d8f8e;
  --vf-color--neutral--600: #707372;
  --vf-color--neutral--700: #54585a;
  --vf-color--neutral--800: #373a36;
  --vf-color--neutral--900: #000000;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-badge
 * Version: 2.0.1
 * Location: components/undefined
 */
.vf-badge {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 2px solid;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: 0.05em;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.vf-badge--primary {
  background-color: #3b6fb6;
  border-color: #3b6fb6;
  color: #ffffff;
}
a.vf-badge .vf-badge--primary {
  color: #ffffff;
}
a.vf-badge .vf-badge--primary:visited {
  color: #ffffff;
}
a.vf-badge .vf-badge--primary:visited:hover {
  color: #ffffff;
  text-decoration: underline;
}
a.vf-badge .vf-badge--primary:hover {
  color: #ffffff;
}

a.vf-badge--primary:hover {
  background-color: #193f90;
  border-color: #193f90;
}

.vf-badge--secondary {
  background-color: transparent;
  border-color: #3b6fb6;
  color: #3b6fb6;
}
a.vf-badge--secondary:hover {
  background-color: transparent;
  border-color: #193f90;
  color: #193f90;
}

.vf-badge--tertiary {
  color: #ffffff;
  background-color: #54585a;
  border-color: #54585a;
}
.vf-badge--tertiary:visited {
  color: #ffffff;
}
.vf-badge--tertiary:visited:hover {
  color: #ffffff;
  text-decoration: underline;
}
.vf-badge--tertiary:hover {
  color: #ffffff;
}