/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

:root {
  --vf-color--neutral--0: #ffffff;
  --vf-color--neutral--100: #f3f3f3;
  --vf-color--neutral--200: #e4e4e4;
  --vf-color--neutral--300: #d0d0ce;
  --vf-color--neutral--400: #a9abaa;
  --vf-color--neutral--500: #8d8f8e;
  --vf-color--neutral--600: #707372;
  --vf-color--neutral--700: #54585a;
  --vf-color--neutral--800: #373a36;
  --vf-color--neutral--900: #000000;
}

/* stylelint-enable */
/*!
* Component: @visual-framework/vf-table
* Version: 1.2.0-rc.2
* Location: components/undefined
*/
.vf-table {
  background-color: #ffffff;
  border-collapse: collapse;
}

.vf-table__caption {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  text-align: left;
}

.vf-table__header {
  border-bottom: 2px solid #d0d0ce;
}

.vf-table__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  padding: 8px 16px;
  text-align: left;
}

.vf-table__button--sortable {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}
.vf-table__button--sortable svg {
  fill: #d0d0ce;
  height: 22px;
  margin-left: 4px;
  padding: 2px;
}
.vf-table__button--sortable:hover svg {
  fill: #54585A;
}

.vf-table__button--sorted-bottom #vf-table--sortable-top-arrow {
  fill: #54585A;
}
.vf-table__button--sorted-bottom #vf-table--sortable-bottom-arrow {
  opacity: 0;
}

.vf-table__button--sorted-top #vf-table--sortable-top-arrow {
  opacity: 0;
}
.vf-table__button--sorted-top #vf-table--sortable-bottom-arrow {
  fill: #54585A;
}

.vf-table__cell {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
  padding: 8px 16px;
  vertical-align: top;
}

.vf-table__row:nth-of-type(even) {
  background-color: #f3f3f3;
}
.vf-table--no-strpe .vf-table__row:nth-of-type(even) {
  background-color: #ffffff;
}

.vf-table__row .vf-table__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  text-align: left;
}

.vf-table__body .vf-table__row:not(.vf-table__row--selected):hover {
  background-color: #fffadc;
}

.vf-table__label {
  margin: 0;
  text-align: center;
}

.vf-table__footer {
  background-color: #d0d0ce;
}

.vf-table__cell--actions .vf-button--icon {
  color: #3b6fb6;
  font-weight: 400;
}
.vf-table__cell--actions .vf-button--icon:visited, .vf-table__cell--actions .vf-button--icon:hover, .vf-table__cell--actions .vf-button--icon:focus {
  color: #3b6fb6;
  font-weight: 400;
}

.vf-table__row--selected {
  background-color: #3b6fb6;
  color: #ffffff;
}
.vf-table__row--selected .vf-button {
  color: #ffffff;
}
.vf-table__row--selected .vf-button--icon {
  color: #ffffff;
  font-weight: 400;
}
.vf-table__row--selected .vf-button--icon:visited, .vf-table__row--selected .vf-button--icon:hover, .vf-table__row--selected .vf-button--icon:focus {
  color: #ffffff;
}
.vf-table__row--selected .vf-table__label::before {
  border-color: #000000 !important;
}

.vf-table__actions {
  background-color: #3b6fb6;
  padding: 16px;
}
.vf-table__actions .vf-button {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
  color: #ffffff;
  font-weight: 400;
  margin-left: 1em;
}
.vf-table__actions .vf-button:first-child {
  margin-left: 0;
}
.vf-table__actions .vf-button:visited, .vf-table__actions .vf-button:hover, .vf-table__actions .vf-button:focus {
  color: #ffffff;
}

html:not(.vf-disable-deprecated) .vf-table--bordered {
  border: 1px solid #707372;
}
html:not(.vf-disable-deprecated) .vf-table--bordered .vf-table__heading {
  border: 1px solid #707372;
}
html:not(.vf-disable-deprecated) .vf-table--bordered .vf-table__cell {
  border: 1px solid #707372;
}
html:not(.vf-disable-deprecated) .vf-table--striped .vf-table__body .vf-table__row:nth-of-type(even) {
  background-color: #f3f3f3;
}
html:not(.vf-disable-deprecated) .vf-table--tight .vf-table__heading {
  padding: 4px 4px;
}
html:not(.vf-disable-deprecated) .vf-table--tight .vf-table__cell {
  padding: 4px 4px;
}
html:not(.vf-disable-deprecated) .vf-table--loose .vf-table__heading {
  padding: 16px 24px;
}
html:not(.vf-disable-deprecated) .vf-table--loose .vf-table__cell {
  padding: 8px 24px;
}
html:not(.vf-disable-deprecated) .vf-table--fixed {
  table-layout: fixed;
}