/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-form__radio
 * Version: 2.0.2
 * Location: components/undefined
 */
.vf-form__radio {
  opacity: 0;
  position: absolute;
}
.vf-form__radio + .vf-form__label {
  color: #54585a;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: relative;
}
.vf-form__radio + .vf-form__label::before {
  background: #ffffff;
  border: 2px solid #707372;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
  width: 16px;
}
.vf-form__radio:hover + .vf-form__label::before {
  border-color: #54585a;
  -webkit-box-shadow: 0 0 4px #3b6fb6;
          box-shadow: 0 0 4px #3b6fb6;
}
@supports (filter: drop-shadow(0 0 0.25rem blue)) {
  .vf-form__radio:hover + .vf-form__label::before {
    background-color: transparent;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    -webkit-filter: drop-shadow(0 0 4px #8bb8e8);
            filter: drop-shadow(0 0 4px #8bb8e8);
  }
}
.vf-form__radio:focus + .vf-form__label::before {
  border-color: #54585a;
  -webkit-box-shadow: 0 0 4px #3b6fb6;
          box-shadow: 0 0 4px #3b6fb6;
}
@supports (filter: drop-shadow(0 0 0.25rem blue)) {
  .vf-form__radio:focus + .vf-form__label::before {
    background-color: transparent;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    -webkit-filter: drop-shadow(0 0 4px #8bb8e8);
            filter: drop-shadow(0 0 4px #8bb8e8);
  }
}
.vf-form__radio:checked + .vf-form__label::before {
  background: #3b6fb6;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
}
.vf-form__radio:disabled + .vf-form__label {
  color: #54585a;
  cursor: auto;
}
.vf-form__radio:disabled + .vf-form__label::before {
  background: #707372;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vf-form__item--radio--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.vf-form__item--radio--inline *:not(:first-of-type) {
  margin-left: 1rem;
}