/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-card
 * Version: 2.3.2
 * Location: components/undefined
 */
.vf-card {
  --card-text-color: var(--vf-card-theme-color--foreground, #000000);
  --card-background-color: var(--vf-card-theme-color--background , #ffffff);
  background-color: var(--card-background-color);
  /* border: 1px solid var(--vf-card-theme-color--border, var(--card-border-color, )); */
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(84, 88, 90, 0.5);
          box-shadow: 0 0.125rem 0.25rem rgba(84, 88, 90, 0.5);
  display: grid;
  grid-template-rows: 288px 1fr;
  position: relative;
}

.vf-card__image {
  grid-column: 1/-1;
  grid-row: 1;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.vf-card__content {
  grid-column: 1/-1;
  padding: 1rem;
}

.vf-card__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  background-color: var(--card-background-color);
  color: #000000;
  color: var(--card-text-color, #000000);
  text-decoration: none;
}
.vf-card__title .vf-card__link {
  color: inherit;
  text-decoration: none;
}
.vf-card__title .vf-card__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: 512;
}
.vf-card__title .vf-card__link:hover {
  text-decoration: none;
}
.vf-card__title .vf-card__link:hover::after {
  -webkit-box-shadow: 0 0 0.125rem 0.125rem rgba(112, 115, 114, 0.75);
          box-shadow: 0 0 0.125rem 0.125rem rgba(112, 115, 114, 0.75);
}
.vf-card__title .vf-card__link:hover,
.vf-card__title .vf-card__link:visited,
.vf-card__title .vf-card__link:visited:hover {
  color: currentColor;
}

.vf-card__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
  color: #ffffff;
  color: var(--card-text-color, #ffffff);
}
.vf-card__text a,
.vf-card__text .vf-card__link {
  position: relative;
  z-index: 1984;
}

.vf-card--bordered {
  border-bottom: 8px solid #18974c;
  border-bottom-color: var(--vf-card-border-color, #18974c);
}
.vf-card--bordered .vf-card__link::after {
  height: calc(100% + 8px);
}

.vf-card--striped {
  background-color: #007b53;
  background-color: var(--vf-card--striped-bg-color, #007b53);
}
.vf-card--striped .vf-card__title {
  background-color: #18974c;
  background-color: var(--vf-card-bg-color, #18974c);
  color: #ffffff;
  margin: -1rem;
  margin-bottom: -0.5rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}
.vf-card--striped .vf-card__text {
  color: #ffffff;
}
.vf-card--striped .vf-card__text:first-of-type {
  --vf-stack-margin--custom: 0;
  padding-top: 1rem;
}

.vf-card--primary {
  --vf-card-bg-color: #18974c;
  --vf-card-text-color: #ffffff;
  --vf-card-border-color: #18974c;
  --vf-card--striped-bg-color: #007b53;
  --vf-card--striped-text-color: #ffffff;
}

.vf-card--secondary {
  --vf-card-bg-color: #3b6fb6;
  --vf-card-text-color: #ffffff;
  --vf-card-border-color: #3b6fb6;
  --vf-card--striped-bg-color: #193f90;
  --vf-card--striped-text-color: #ffffff;
}

.vf-card--tertiary {
  --vf-card-bg-color: #707372;
  --vf-card-text-color: #ffffff;
  --vf-card-border-color: #707372;
  --vf-card--striped-bg-color: #54585a;
  --vf-card--striped-text-color: #ffffff;
}

.vf-card__content.vf-stack .vf-card__title,
.vf-card__content.vf-stack .vf-card__text {
  margin-bottom: 0;
}

html:not(.vf-disable-deprecated) .vf-card--very-easy {
  border-bottom: 8px solid rgba(0, 0, 0, 0);
}
html:not(.vf-disable-deprecated) .vf-card--easy {
  border-bottom: 8px solid #000000;
  border-bottom-color: var(--vf-card-theme-color--border, #000000);
}
html:not(.vf-disable-deprecated) .vf-card--easy .vf-card__title {
  --card-text-color: #3b6fb6;
}
html:not(.vf-disable-deprecated) .vf-card--easy .vf-card__text {
  --card-text-color: #000000;
}
html:not(.vf-disable-deprecated) .vf-card--easy .vf-card__link::after {
  height: calc(100% + 8px);
}
html:not(.vf-disable-deprecated) .vf-card--normal {
  --card-text-color: var(--vf-card-theme-color--foreground, #ffffff);
  --card-background-color: var(--vf-card-theme-color--background, #000000);
}
html:not(.vf-disable-deprecated) .vf-card--hard {
  --card-text-color: var(--vf-card-theme-color--foreground, #ffffff);
  --card-background-color: var(--vf-card-theme-color--background, #000000);
}
html:not(.vf-disable-deprecated) .vf-card--hard .vf-card__content {
  grid-row: 2/-1;
}
html:not(.vf-disable-deprecated) .vf-card--hard .vf-card__title {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: inline-block;
  margin-bottom: 0;
  margin-left: -24px;
  margin-top: 2px;
  padding: 16px 24px;
  text-transform: uppercase;
}
html:not(.vf-disable-deprecated) .vf-card--hard .vf-card__text {
  padding-top: 16px;
}
html:not(.vf-disable-deprecated) .vf-card--hard .vf-card__text .vf-card__link {
  position: relative;
  z-index: 1984;
}
html:not(.vf-disable-deprecated) [class*=ary].vf-card--easy {
  --vf-card-theme-color--background: #ffffff;
}
html:not(.vf-disable-deprecated) [class*=ary] .vf-card__text .vf-card__link {
  color: inherit;
  text-decoration: underline;
}
html:not(.vf-disable-deprecated) .vf-card-theme--primary {
  --vf-card-theme-color--foreground: #ffffff;
  --vf-card-theme-color--border: #3b6fb6;
  --vf-card-theme-color--background: #3b6fb6;
}
html:not(.vf-disable-deprecated) .vf-card-theme--secondary {
  --vf-card-theme-color--foreground: #000000;
  --vf-card-theme-color--border: #18974c;
  --vf-card-theme-color--background: #18974c;
}
html:not(.vf-disable-deprecated) .vf-card-theme--tertiary {
  --vf-card-theme-color--foreground: #ffffff;
  --vf-card-theme-color--border: #54585a;
  --vf-card-theme-color--background: #54585a;
}
html:not(.vf-disable-deprecated) .vf-card-theme--quaternary {
  --vf-card-theme-color--foreground: #000000;
  --vf-card-theme-color--border: #f4c61f;
  --vf-card-theme-color--background: #f4c61f;
}