<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">


<title>Logo | Visual Framework component library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Visual Framework component library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-85e7c5f254afdb57b4e440118291cfb5">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/vf-logo.html" title="Component preview">
            Logo
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #DC0A28; border-color: #DC0A28;">alhpa</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-85e7c5f254afdb57b4e440118291cfb5">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/vf-logo.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-85e7c5f254afdb57b4e440118291cfb5">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-85e7c5f254afdb57b4e440118291cfb5-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://www.embl.de"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-logo"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"../../assets/vf-logo/assets/logo.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"Visual Framework component library"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-view">
    <code class="Code Code--lang-text">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"http://www.embl.de"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"vf-logo"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ '/assets/vf-logo/assets/logo.png' | path }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ _config.project.title }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"component-type"</span>: <span class="hljs-string">"element"</span>
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-d952cfae20b78064be26f3ea9b47f2ff">CHANGELOG.md</option>
                
                <option value="file-bfc9937c4a5c0c8154ae31a6b9b0456c">index.scss</option>
                
                <option value="file-af48d7c9173871382c1a76ee53c5f1ed">package.json</option>
                
                <option value="file-a7d4a3b9d9fed0ca6477474e6247c923">vf-logo.css</option>
                
                <option value="file-8f42e92376ebefc6001d3d9674dd3861">vf-logo.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-d952cfae20b78064be26f3ea9b47f2ff" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-Markdown FileBrowser-code">
                                <pre><span class="hljs-section"># Change Log</span>

All notable changes to this project will be documented in this file.
See [<span class="hljs-string">Conventional Commits</span>](<span class="hljs-link">https://conventionalcommits.org</span>) for commit guidelines.

<span class="hljs-section">## 0.0.28 (2019-03-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-logo





<span class="hljs-section">## 0.0.27 (2019-02-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-logo





<span class="hljs-section">## 0.0.26 (2019-02-28)</span>

<span class="hljs-strong">**Note:**</span> Version bump only for package @visual-framework/vf-logo





<span class="hljs-section"># 0.1.0</span>

<span class="hljs-section">### Added</span>
<span class="hljs-bullet">- </span>added this
<span class="hljs-bullet">- </span>added that

<span class="hljs-section">### Changes</span>

<span class="hljs-bullet">- </span>changed this
<span class="hljs-bullet">- </span>changed that

<span class="hljs-section">### Removed</span>

<span class="hljs-bullet">- </span>deleted this
<span class="hljs-bullet">- </span>deleted that
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-logo/CHANGELOG.md"><span>/components/raw/vf-logo/CHANGELOG.md</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-logo/CHANGELOG.md</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">585 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-bfc9937c4a5c0c8154ae31a6b9b0456c" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// setup files required</span>

<span class="hljs-comment">// sass-lint:disable clean-import-paths</span>
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-global-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-variables'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-functions'</span>;
@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-mixins'</span>;

<span class="hljs-comment">// component specific styles</span>

@<span class="hljs-keyword">import</span> <span class="hljs-string">'vf-logo.scss'</span>;
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-logo/index.scss"><span>/components/raw/vf-logo/index.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-logo/index.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">220 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-af48d7c9173871382c1a76ee53c5f1ed" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JSON FileBrowser-code">
                                <pre>{
  <span class="hljs-attr">"version"</span>: <span class="hljs-string">"0.0.29"</span>,
  <span class="hljs-attr">"name"</span>: <span class="hljs-string">"@visual-framework/vf-logo"</span>,
  <span class="hljs-attr">"description"</span>: <span class="hljs-string">"vf-logo component"</span>,
  <span class="hljs-attr">"homepage"</span>: <span class="hljs-string">"https://visual-framework.github.io/vf-core/"</span>,
  <span class="hljs-attr">"author"</span>: <span class="hljs-string">"VF"</span>,
  <span class="hljs-attr">"license"</span>: <span class="hljs-string">"Apache 2.0"</span>,
  <span class="hljs-attr">"style"</span>: <span class="hljs-string">"vf-logo.css"</span>,
  <span class="hljs-attr">"sass"</span>: <span class="hljs-string">"index.scss"</span>,
  <span class="hljs-attr">"files"</span>: [
    <span class="hljs-string">"assets"</span>,
    <span class="hljs-string">"index.scss"</span>,
    <span class="hljs-string">"vf-logo.scss"</span>,
    <span class="hljs-string">"vf-logo.css"</span>,
    <span class="hljs-string">"vf-logo.njk"</span>,
    <span class="hljs-string">"vf-logo--responsive.njk"</span>,
    <span class="hljs-string">"vf-logo.config.yml"</span>
  ],
  <span class="hljs-attr">"test"</span>: <span class="hljs-string">"echo \"Error: no test specified\" &amp;&amp; exit 1"</span>,
  <span class="hljs-attr">"publishConfig"</span>: {
    <span class="hljs-attr">"access"</span>: <span class="hljs-string">"public"</span>
  },
  <span class="hljs-attr">"repo"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/tree/master/components/elements/vf-logo"</span>,
  <span class="hljs-attr">"bugs"</span>: {
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://github.com/visual-framework/vf-core/issues/new"</span>
  },
  <span class="hljs-attr">"dependencies"</span>: {
    <span class="hljs-attr">"@visual-framework/vf-sass-config"</span>: <span class="hljs-string">"^0.0.25"</span>,
    <span class="hljs-attr">"node-normalize-scss"</span>: <span class="hljs-string">"^8.0.0"</span>
  },
  <span class="hljs-attr">"keywords"</span>: [
    <span class="hljs-string">"fractal"</span>,
    <span class="hljs-string">"component"</span>
  ],
  <span class="hljs-attr">"gitHead"</span>: <span class="hljs-string">"ce5e8d5c5c0b99c706f3f67324bf4c058ec89ccd"</span>
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-logo/package.json"><span>/components/raw/vf-logo/package.json</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-logo/package.json</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">932 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-a7d4a3b9d9fed0ca6477474e6247c923" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code">
                                <pre><span class="hljs-selector-pseudo">:root</span> {
  <span class="hljs-attribute">--vf-color-white</span>: <span class="hljs-built_in">rgb</span>(255, 255, 255);
  <span class="hljs-attribute">--vf-color-off-white</span>: <span class="hljs-built_in">rgb</span>(250, 250, 250);
  <span class="hljs-attribute">--vf-color-black</span>: <span class="hljs-built_in">rgb</span>(40, 45, 35);
  <span class="hljs-attribute">--vf-color-gray</span>: <span class="hljs-built_in">rgb</span>(112, 115, 114);
  <span class="hljs-attribute">--vf-color-gray-bright</span>: <span class="hljs-built_in">rgb</span>(185, 179, 168);
  <span class="hljs-attribute">--vf-color-gray-dark</span>: <span class="hljs-built_in">rgb</span>(84, 88, 90);
  <span class="hljs-attribute">--vf-color-green</span>: <span class="hljs-built_in">rgb</span>(0, 159, 77);
  <span class="hljs-attribute">--vf-color-green-bright</span>: <span class="hljs-built_in">rgb</span>(108, 194, 74);
  <span class="hljs-attribute">--vf-color-green-dark</span>: <span class="hljs-built_in">rgb</span>(0, 123, 83);
  <span class="hljs-attribute">--vf-color-light-green</span>: <span class="hljs-built_in">rgb</span>(168, 199, 0);
  <span class="hljs-attribute">--vf-color-light-green-bright</span>: <span class="hljs-built_in">rgb</span>(226, 232, 104);
  <span class="hljs-attribute">--vf-color-light-green-dark</span>: <span class="hljs-built_in">rgb</span>(132, 189, 0);
  <span class="hljs-attribute">--vf-color-ruby</span>: <span class="hljs-built_in">rgb</span>(228, 0, 70);
  <span class="hljs-attribute">--vf-color-ruby-bright</span>: <span class="hljs-built_in">rgb</span>(229, 143, 158);
  <span class="hljs-attribute">--vf-color-ruby-dark</span>: <span class="hljs-built_in">rgb</span>(166, 9, 61);
  <span class="hljs-attribute">--vf-color-yellow</span>: <span class="hljs-built_in">rgb</span>(255, 205, 0);
  <span class="hljs-attribute">--vf-color-yellow-bright</span>: <span class="hljs-built_in">rgb</span>(253, 215, 87);
  <span class="hljs-attribute">--vf-color-yellow-dark</span>: <span class="hljs-built_in">rgb</span>(255, 184, 28);
  <span class="hljs-attribute">--vf-color-purple</span>: <span class="hljs-built_in">rgb</span>(130, 70, 175);
  <span class="hljs-attribute">--vf-color-purple-bright</span>: <span class="hljs-built_in">rgb</span>(203, 163, 216);
  <span class="hljs-attribute">--vf-color-purple-dark</span>: <span class="hljs-built_in">rgb</span>(86, 61, 130);
  <span class="hljs-attribute">--vf-color-amber</span>: <span class="hljs-built_in">rgb</span>(255, 163, 0);
  <span class="hljs-attribute">--vf-color-amber-bright</span>: <span class="hljs-built_in">rgb</span>(190, 84, 0);
  <span class="hljs-attribute">--vf-color-amber-dark</span>: <span class="hljs-built_in">rgb</span>(239, 192, 110);
  <span class="hljs-attribute">--vf-color-azure</span>: <span class="hljs-built_in">rgb</span>(40, 122, 226);
  <span class="hljs-attribute">--vf-color-azure-bright</span>: <span class="hljs-built_in">rgb</span>(139, 184, 232);
  <span class="hljs-attribute">--vf-color-azure-dark</span>: <span class="hljs-built_in">rgb</span>(0, 61, 165);
}

<span class="hljs-selector-pseudo">:root</span> {
  <span class="hljs-attribute">--vf-ui-color-black</span>: <span class="hljs-built_in">rgb</span>(0, 0, 0);
  <span class="hljs-attribute">--vf-ui-color-gray</span>: <span class="hljs-built_in">rgb</span>(243, 243, 243);
  <span class="hljs-attribute">--vf-ui-color-gray-light</span>: <span class="hljs-built_in">rgb</span>(216, 216, 216);
  <span class="hljs-attribute">--vf-ui-color-yellow</span>: <span class="hljs-built_in">rgb</span>(255, 250, 220);
  <span class="hljs-attribute">--vf-ui-color-red</span>: <span class="hljs-built_in">rgb</span>(211, 47, 47);
}

<span class="hljs-selector-class">.vf-logo</span> {
  <span class="hljs-attribute">color</span>: <span class="hljs-number">#282d23</span>;
  <span class="hljs-attribute">display</span>: -webkit-box;
  <span class="hljs-attribute">display</span>: -ms-flexbox;
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">41px</span>;
  <span class="hljs-attribute">text-decoration</span>: none;
}

<span class="hljs-selector-class">.vf-logo--responsive</span> {
  <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"../assets/vf-logo/assets/logo-small.svg"</span>);
  <span class="hljs-attribute">background-repeat</span>: no-repeat;
  <span class="hljs-attribute">background-size</span>: auto <span class="hljs-number">100%</span>;
  <span class="hljs-attribute">display</span>: -webkit-box;
  <span class="hljs-attribute">display</span>: -ms-flexbox;
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">25px</span>;
  <span class="hljs-attribute">min-width</span>: <span class="hljs-number">70px</span>;
}

@<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">500px</span>) {
  <span class="hljs-selector-class">.vf-logo--responsive</span> {
    <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"../assets/vf-logo/assets/logo-medium.svg"</span>);
    <span class="hljs-attribute">height</span>: <span class="hljs-number">28px</span>;
  }
}

@<span class="hljs-keyword">media</span> (min-width: <span class="hljs-number">999px</span>) {
  <span class="hljs-selector-class">.vf-logo--responsive</span> {
    <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">url</span>(<span class="hljs-string">"../assets/vf-logo/assets/logo.svg"</span>);
    <span class="hljs-attribute">height</span>: <span class="hljs-number">30px</span>;
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-logo/vf-logo.css"><span>/components/raw/vf-logo/vf-logo.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-logo/vf-logo.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">2.1 KB</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-8f42e92376ebefc6001d3d9674dd3861" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// vf-logo</span>

<span class="hljs-selector-class">.vf-logo</span> {
  <span class="hljs-attribute">color</span>: set-color(vf-color-black);
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">41px</span>;
  <span class="hljs-attribute">text-decoration</span>: none;
}


<span class="hljs-selector-class">.vf-logo--responsive</span> {
  <span class="hljs-attribute">background-image</span>: url(<span class="hljs-string">'../assets/vf-logo/assets/logo-small.svg'</span>);
  <span class="hljs-attribute">background-repeat</span>: no-repeat;
  <span class="hljs-attribute">background-size</span>: auto <span class="hljs-number">100%</span>;
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">25px</span>;
  <span class="hljs-attribute">min-width</span>: <span class="hljs-number">70px</span>;
}

@<span class="hljs-keyword">media</span> (min-width: 500px) {
  <span class="hljs-selector-class">.vf-logo--responsive</span> {
    <span class="hljs-attribute">background-image</span>: url(<span class="hljs-string">'../assets/vf-logo/assets/logo-medium.svg'</span>);
    <span class="hljs-attribute">height</span>: <span class="hljs-number">28px</span>;
  }
}
@<span class="hljs-keyword">media</span> (min-width: 999px) {
  <span class="hljs-selector-class">.vf-logo--responsive</span> {
    <span class="hljs-attribute">background-image</span>: url(<span class="hljs-string">'../assets/vf-logo/assets/logo.svg'</span>);
    <span class="hljs-attribute">height</span>: <span class="hljs-number">30px</span>;
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-logo/vf-logo.scss"><span>/components/raw/vf-logo/vf-logo.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-components/vf-logo/vf-logo.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">618 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@vf-logo</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="vf-logo--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="vf-logo--responsive.html">
                    <span>Responsive</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/vf-logo.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/vf-logo.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/vf-components/vf-logo/vf-logo.njk</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="vf-global-header.html">@<span>vf-global-header</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-85e7c5f254afdb57b4e440118291cfb5-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-logo"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-logo.svg" alt="npm version"></a></p>
<h2 id="about">About</h2>
<h2 id="installation-and-implementation">Installation and Implementation</h2>
<p>This component is distributed with npm. After <a href="https://www.npmjs.com/get-npm">installing npm</a>, you can install the <code>vf-logo</code> with this command.</p>
<code><pre>$ <span class="hljs-built_in">npm</span> install --save @visual-framework/vf-logo</pre></code><p>The source files included are written in <a href="http://sass-lang.com">Sass</a>(<code>scss</code>). You can point your Sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<code><pre>@<span class="hljs-keyword">import</span> <span class="hljs-string">"@visual-framework/vf-logo/index.scss"</span>;</pre></code><p><em>Make sure you import any requirements along with the modules.</em></p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-vf-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Vf Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-badge">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Badges</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--outline.html" data-pjax>
                <span>Outline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--sizes.html" data-pjax>
                <span>Sizes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--styles.html" data-pjax>
                <span>Styles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--variants.html" data-pjax>
                <span>Variants</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-banner">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Banner</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--fixed.html" data-pjax>
                <span>Fixed</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--top.html" data-pjax>
                <span>Top</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-divider.html" data-pjax>
                <span>Divider</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #19993B;" title="live"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-favicon.html" data-pjax>
                <span>Favicon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-global-header.html" data-pjax>
                <span>Global Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-heading.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-list">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Lists</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--default.html" data-pjax>
                <span>Block</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--inline.html" data-pjax>
                <span>Inline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--ordered.html" data-pjax>
                <span>Ordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--unordered.html" data-pjax>
                <span>Unordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-logo">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Logo</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-navigation">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Navigation</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--additional.html" data-pjax>
                <span>Additional</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--global.html" data-pjax>
                <span>Global</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--main.html" data-pjax>
                <span>Main</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-no-js.html" data-pjax>
                <span>No JS</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-sample.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
