<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">


<title>Visual Framework Sample Component: Template | Visual Framework component library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Visual Framework component library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-fbcf400277ea46b1e89639da8e3a6ec1">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/vf-sample--template.html" title="Component preview">
            Visual Framework Sample Component: Template
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #E89300; border-color: #E89300;">beta</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-fbcf400277ea46b1e89639da8e3a6ec1">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/vf-sample--template.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-fbcf400277ea46b1e89639da8e3a6ec1">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-html">
    <code class="Code Code--lang-html">
        
        <pre>I'm a sample</pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-view">
    <code class="Code Code--lang-text">
        <pre>I<span class="hljs-comment">'m a sample {{ text }}</span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"component-type"</span>: <span class="hljs-string">"element"</span>
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-d8d3128d485e63e214c578b0d7eba424">index.scss</option>
                
                <option value="file-547d044e0c249fa71dae142d56b5f896">vf-sample.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-d8d3128d485e63e214c578b0d7eba424" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// setup files required</span>

<span class="hljs-comment">// sass-lint:disable clean-import-paths</span>
<span class="hljs-comment">// @import 'vf-global-variables';</span>
<span class="hljs-comment">// @import 'vf-variables';</span>
<span class="hljs-comment">// @import 'vf-functions';</span>
<span class="hljs-comment">// @import 'vf-mixins';</span>

<span class="hljs-comment">// component specific styles</span>

<span class="hljs-comment">// @import 'vf-heading.scss';</span>
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-sample/index.scss"><span>/components/raw/vf-sample/index.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-sample/index.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">238 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-547d044e0c249fa71dae142d56b5f896" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.vf-sample</span> {
  <span class="hljs-attribute">color</span>: blue;
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/vf-sample/vf-sample.scss"><span>/components/raw/vf-sample/vf-sample.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/vf-sample/vf-sample.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">30 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@vf-sample--template</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(2)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="vf-sample--default.html">
                    <span>Default</span>
                </a>, 
            
                <a href="">
                    <span>Template</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/vf-sample--template.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/vf-sample--template.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/vf-sample/vf-sample.njk</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-fbcf400277ea46b1e89639da8e3a6ec1-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p><a href="https://badge.fury.io/js/%40visual-framework%2Fvf-heading"><img src="https://badge.fury.io/js/%40visual-framework%2Fvf-heading.svg" alt="npm version"></a></p>
<h2 id="about">About</h2>
<h2 id="demo">Demo</h2>
<h1 class="vf-text vf-text--heading-xl vf-text--invert">This heading size is display and inverted</h1>







<h2 class="vf-text vf-text--heading-xl">This heading size is extra large</h2>







<h3 class="vf-text vf-text--heading-l">This heading size is large</h3>







<h4 class="vf-text vf-text--heading-r">This heading size is regular</h4>







<h5 class="vf-text vf-text--heading-s">This heading size is small</h5>

<h2 id="installation-and-implementation">Installation and Implementation</h2>
<p>This component is distributed with npm. After <a href="https://www.npmjs.com/get-npm">installing npm</a>, you can install the <code>vf-heading</code> with this command.</p>
<code><pre>$ <span class="hljs-built_in">npm</span> install --save @visual-framework/vf-heading</pre></code><p>The source files included are written in <a href="http://sass-lang.com">Sass</a>(<code>scss</code>). You can point your Sass <code>include-path</code> at your <code>node_modules</code> directory and import it like this.</p>
<code><pre>@<span class="hljs-keyword">import</span> <span class="hljs-string">"@visual-framework/vf-heading/index.scss"</span>;</pre></code><p><em>Make sure you import any requirements along with the modules.</em></p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-vf-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Vf Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-badge">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Badges</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--outline.html" data-pjax>
                <span>Outline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--sizes.html" data-pjax>
                <span>Sizes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--styles.html" data-pjax>
                <span>Styles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-badge--variants.html" data-pjax>
                <span>Variants</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-banner">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Banner</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--fixed.html" data-pjax>
                <span>Fixed</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-banner--top.html" data-pjax>
                <span>Top</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-core">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Vf Core</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-docs">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Docs</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-5" data-behaviour="collection" id="tree-components-collection-changelog">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Changelog</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index.html" data-pjax>
                <span>Index</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-5" data-behaviour="collection" id="tree-components-collection-contributing">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Contributing</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="creating-new-components.html" data-pjax>
                <span>Creating New Components</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="css.html" data-pjax>
                <span>Css</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="deprecating-components.html" data-pjax>
                <span>Deprecating Components</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="file-structure.html" data-pjax>
                <span>File Structure</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="global-token-variables.html" data-pjax>
                <span>Global Token Variables</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="governance.html" data-pjax>
                <span>Governance</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index.html" data-pjax>
                <span>Index</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="javascript.html" data-pjax>
                <span>Javascript</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="naming.html" data-pjax>
                <span>Naming</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="setting-up.html" data-pjax>
                <span>Setting Up</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="user-base.html" data-pjax>
                <span>User Base</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="writing-and-language.html" data-pjax>
                <span>Writing And Language</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-5" data-behaviour="collection" id="tree-components-collection-guidelines">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Guidelines</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="versioning.html" data-pjax>
                <span>Versioning</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visual-regression-testing.html" data-pjax>
                <span>Visual Regression Testing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-tools">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Tools</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-5" data-behaviour="collection" id="tree-components-collection-vf-frctl-theme">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Vf Frctl Theme</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-6" data-behaviour="collection" id="tree-components-collection-views">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Views</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-7" data-behaviour="collection" id="tree-components-collection-layouts">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Layouts</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="doc.html" data-pjax>
                <span>Doc</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="frame.html" data-pjax>
                <span>Frame</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pen.html" data-pjax>
                <span>Pen</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pjax.html" data-pjax>
                <span>Pjax</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="render.html" data-pjax>
                <span>Render</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="skeleton.html" data-pjax>
                <span>Skeleton</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-7" data-behaviour="collection" id="tree-components-collection-macros">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Macros</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="errors.html" data-pjax>
                <span>Errors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image.html" data-pjax>
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="navigation.html" data-pjax>
                <span>Navigation</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="render.html" data-pjax>
                <span>Render</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="status.html" data-pjax>
                <span>Status</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-7" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="doc.html" data-pjax>
                <span>Doc</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="error.html" data-pjax>
                <span>Error</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-7" data-behaviour="collection" id="tree-components-collection-partials">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Partials</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="browser.html" data-pjax>
                <span>Browser</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-8" data-behaviour="collection" id="tree-components-collection-content">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Content</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="overview.html" data-pjax>
                <span>Overview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="foot.html" data-pjax>
                <span>Foot</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="navigation.html" data-pjax>
                <span>Navigation</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-8" data-behaviour="collection" id="tree-components-collection-pen">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pen</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="browser.html" data-pjax>
                <span>Browser</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="preview.html" data-pjax>
                <span>Preview</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="stylesheets.html" data-pjax>
                <span>Stylesheets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-divider.html" data-pjax>
                <span>Divider</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #19993B;" title="live"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-favicon.html" data-pjax>
                <span>Favicon</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-global-header.html" data-pjax>
                <span>Global Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-heading.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-list">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Lists</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--default.html" data-pjax>
                <span>Block</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--inline.html" data-pjax>
                <span>Inline</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--ordered.html" data-pjax>
                <span>Ordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-list--unordered.html" data-pjax>
                <span>Unordered</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-logo">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Logo</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-logo--responsive.html" data-pjax>
                <span>Responsive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-vf-navigation">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Navigation</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--default.html" data-pjax>
                <span>Default</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--additional.html" data-pjax>
                <span>Additional</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--global.html" data-pjax>
                <span>Global</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-navigation--main.html" data-pjax>
                <span>Main</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-no-js.html" data-pjax>
                <span>No JS</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #DC0A28;" title="alhpa"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="vf-sample.html" data-pjax>
                <span>Sample Local Component</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #E89300;" title="beta"></span>


</div>

</div>


            </a>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
