/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-box
 * Version: 2.3.1
 * Location: components/undefined
 */
.vf-box {
  --box-text-color: var( --vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #000000));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #ffffff));
  --vf-box-padding: var(--vf-box-padding--override, 1rem);
  background-color: #ffffff;
  background-color: var(--box-background-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  color: var(--box-text-color);
  display: block;
  padding: 1rem;
  padding: var(--vf-box-padding);
  width: 100%;
}
.vf-box > :last-child {
  margin-bottom: 0;
}

.vf-box--is-link {
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.vf-box--is-link:hover {
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.vf-box__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-box__link {
  color: currentColor;
  text-decoration: none;
}
.vf-box__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: 512;
}

.vf-box__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.vf-content .vf-box__text a,
.vf-box__text a {
  color: currentColor;
  position: relative;
  text-decoration: underline;
  z-index: 1984;
}
.vf-content .vf-box__text a:visited, .vf-content .vf-box__text a:hover, .vf-content .vf-box__text a:focus,
.vf-box__text a:visited,
.vf-box__text a:hover,
.vf-box__text a:focus {
  color: currentColor;
}

.vf-box--400 {
  --vf-box-padding: 1rem;
}

.vf-box--600 {
  --vf-box-padding: 1.5rem;
}

.vf-box--800 {
  --vf-box-padding: 2rem;
}

.vf-box--easy {
  --box-text-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background));
  --box-background-color: #ffffff;
  border-bottom: 4px solid;
}
.vf-box--easy .vf-box__text {
  color: #000000;
}

.vf-box--normal {
  --box-text-color: var(--vf-box-theme-color--foreground, var(--vf-theme-color--foreground, #ffffff));
  --box-background-color: var(--vf-box-theme-color--background, var(--vf-theme-color--background, #000000));
}

.vf-box-theme--primary {
  --vf-box-theme-color--foreground: #ffffff;
  --vf-box-theme-color--background: #3b6fb6;
}

.vf-box-theme--secondary {
  --vf-box-theme-color--foreground: #000000;
  --vf-box-theme-color--background: #18974c;
}

.vf-box-theme--tertiary {
  --vf-box-theme-color--foreground: #ffffff;
  --vf-box-theme-color--background: #54585a;
}

.vf-box-theme--quaternary {
  --vf-box-theme-color--foreground: #000000;
  --vf-box-theme-color--background: #f4c61f;
}

.vf-box-theme--quinary {
  --vf-box-theme-color--background: #d0d0ce;
  --vf-box-theme-color--foreground: #000000;
}

.vf-box--rounded {
  border-radius: 8px;
}

.vf-box--outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
}