$componentInfo: (
             name: "@visual-framework/vf-form__radio",
             version: "1.0.0-alpha.7",
             location: "components/vf-core-",
             vfCoreVersion: "2.0.0-beta.3"
          );