$componentInfo: (
             name: "@visual-framework/vf-no-js",
             version: "1.0.0-rc.5",
             location: "components/vf-core-",
             vfCoreVersion: "2.0.0-alpha.8"
          );