---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
meta:
  author: Page Author
  image: your-image-here.png
  description: "Page description"
  keywords: "Tags"
---

{% set context = homepageIntro %}
{% set vf_intro_heading = siteConfig.siteInformation.title %}
{% set vf_intro_lede = siteConfig.siteInformation.short_description %}

{% include containers.intro %}

<section class="embl-grid embl-grid--has-centered-content">
  {% render '@vf-section-header', {
    "section_title": "Quickstart"
  } %}
  <div class="vf-content">
  {% markdown %}

  ```

      yarn create @visual-framework/vf-eleventy your-new-site-name vf-eleventy

  ```

  This will install a new [`vf-eleventy`](https://github.com/visual-framework/vf-eleventy/) to a folder named `your-new-site-name`.

  Then follow the onscreen prompts and links below to develop and configure.

  ## Longer install?

  The above too easy or have questions? [Read this guide](https://github.com/visual-framework/vf-eleventy#1-creating-a-new-project-powered-by-vf-eleventy).

  {% endmarkdown %}

  </div>
</section>

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "What you get"
} %}
<div class="vf-content">

- the Eleventy static site generator
- [initial templating setup]({{'posts' | url}})
- [access to the Visual Framework component system](https://visual-framework.github.io/vf-core/)

</div>
</section>

<section class="vf-intro | embl-grid embl-grid--has-centered-content">
{% render '@vf-section-header', {
  "section_title": "Component installation"
} %}
<div class="vf-content">

[Find a component in the VF directory](https://stable.visual-framework.dev/components/) and use npm/Yarn or install it manually.

- installation: `yarn add @visual-framework/vf-logo`
- updating: `yarn upgrade-interactive --latest`

### Manual installation for customisation

1. Download a pattern
2. Copy it to `./src/components/vf-component-name`

### Create your own local component

You can add a custom VF-compatible component to `./src/components` and use it in your site.

- `gulp vf-component`

You'll find a `vf-sample` component there, we've used it below:

Code: 

<pre>{% verbatim %}{% render "@vf-sample", {text: "with some text"} %}{% endverbatim %}</pre>

<br/>Returns: 

<pre>{% render "@vf-sample", {text: "with some text"} %}</pre>

</div>
</section>
